@import url(https://fonts.googleapis.com/css2?family=Sacramento&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap);

:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
  overflow-x: hidden;
}

.hero {
  position: relative;
  min-height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(../assets/picture/background/sadser-bg.jpg);
  background-position: center;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6.2rem;
  margin-top: 8px;
}

.hero p {
  font-size: 1.5rem;
}

.hero h4 {
  font-size: 1.7rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  color: white;
  background-color: var(--pink);
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.553) !important;
  backdrop-filter: blur(6px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.sticky-top {
  overflow: hidden;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  font-weight: 600;
}

.mynavbar .nav-link {
  font-weight: 500;
  text-transform: uppercase;
}

.home {
  background-image: url(../assets/picture/background/home-bg1.png);
  min-height: 100vh;
  margin-top: -6.4rem;
  padding-top: 12rem;
  padding-bottom: 5rem;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #666;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Sacramento", cursive;
  font-size: 2.4rem;
  color: var(--pink);
  font-weight: bold;
}

.home .couple img {
  width: 100%;
}

.home .ring {
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(60px);
}

.home .ring i {
  display: flex;
  justify-content: center;
}

.home .ring img {
  width: 90%;
  align-self: center;
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-image: url(../assets/picture/star-background/star-bg5.png);
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  pad: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 3px;
  background-color: #61615963;
  left: 51.2%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(20%);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  background-color: white;
  padding: 1.4rem;
  position: relative;
  margin-left: -1rem;
  border-radius: 5px;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 100px;
  right: -30px;
}

.timeline li .timeline-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: 14px solid transparent;
  border-left: 14px solid white;
  border-right: 0 solid white;
  border-bottom: 14px solid transparent;
  top: 101px;
  right: -29px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
  margin-right: -1rem;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -30px;
  right: auto;
}
.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -29px;
  right: auto;
}

.gallery {
  background-image: none;
  background-color: beige;
  min-height: 100vh;
}

.gallery span {
  font-weight: 400;
}

.rsvp {
  background-image: none;
  background-color: var(--bg);
}

.rsvp h2 {
  font-size: 4.5rem;
}

.rsvp p,
.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}

.rsvp button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid white;
}

footer {
  padding: 3rem;
  background-color: burlywood;
  color: white;
}

footer a {
  color: #383832;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: black;
  mix-blend-mode: difference;
  /* animation: muter 4s linear infinite; */
  transform-origin: center; /*make the transform orientation to center*/
  /* make the icon centerd with the wrapper */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* background-image: url(../assets/picture/icon/pause-icon.png); */
  background-size: cover;
  border-radius: 70%;
  line-height: 0;
}

.audio-icon-wrapper .bi-play-circle-fill {
  background-color: black;
}

.bi-play-circle-fill {
  color: white;
}

@keyframes muter {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Query */
/* extra large screen */
@media (max-width: 1200px) {
  .home .ring {
    transform: translateX(-50%) translateY(42px);
  }
}
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 38px;
  }
  .home .ring {
    display: none;
  }
  .timeline::before {
    left: 60px;
  }
  .timeline li {
    padding: 1.8rem 0;
    margin-bottom: 0;
  }
  .timeline li .timeline-image {
    left: 12.5px;
    margin-left: 25px;
    top: -17px;
  }
  .timeline li .timeline-panel {
    width: calc(100% - 180px);
    float: right;
    margin-left: 0;
  }
  .timeline li.timeline-inverted .timeline-panel {
    margin-right: 0;
  }
  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    top: 60px;
    left: -30px;
    right: auto;
  }
  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    top: 61px;
    left: -29px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 34px;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
  .timeline li .timeline-panel {
    transform: translateX(30px);
    width: 75%;
  }
  .timeline li .timeline-panel::before {
    top: 45px;
  }
  .timeline li .timeline-panel::after {
    top: 46px;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
  }
  .hero::before {
    background-image: url(../assets/picture/background/sadser-bg-phone.jpg);
  }
  .mynavbar .nav-link {
    text-align: end;
    padding-right: 5rem;
  }
  .timeline li .timeline-image {
    width: 110px;
    height: 110px;
    left: 5%;
    top: -5px;
  }
  .timeline li .timeline-panel {
    width: 55%;
    transform: translateX(-30px);
  }
}

/* small mobile phone */
@media (max-width: 368px) {
  html {
    font-size: 48%;
  }
  .timeline li .timeline-image {
    width: 100px;
    height: 100px;
  }
  .timeline li .timeline-panel {
    width: 60%;
    transform: translateX(0px);
  }
}
